################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyInjection/.vs/DependencyInjection/v15/Server/sqlite3
